swagger: "2.0"
info:
  title: "Lista de Usuários"
  description: "Essa API provê o acesso aos usuários do sistema."
  version: "0.0.1"
  contact:
    name: "Amaury A. Costa"
    email: "amaury.costa@hotmail.com"
host: "api.meusite.com"
schemes:
  - "https"
  - "http"
basePath: "/v1"
produces:
  - "application/json"

paths:
  /users:
    get:
      summary: "Lista dos usuários"
      description: |
        "Este endpoint retorna **todos os usuários** cadastrados no sistema."
      tags: 
        - "Users"
      responses:
        200:
          description: "Uma lista (Array) de usuários"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/User"
        default:
          description: "Erro inesperado"
          schema:
            $ref: "#/definitions/Error"
    post:
      summary: "Cria um usuário"
      description: |
        "Este endpoint cria um usuário no sistema."
      parameters:
        - name: "user"
          in: "body"
          description: "Usuário"
          required: true
          schema:
            $ref: "#/definitions/User"
      tags: 
        - "Users"
      responses:
        201:
          description: "Usuário cadastrado com sucesso"
          schema:
            $ref: "#/definitions/User"
        default:
          description: "Erro inesperado"
          schema:
            $ref: "#/definitions/Error"
    put:
      summary: "Atualiza um usuário"
      description: |
        "Este endpoint atualiza um usuário no sistema. O id do usuário deve ser informado."
      parameters:
        - name: "user"
          in: "body"
          description: "Usuário"
          required: true
          schema:
            $ref: "#/definitions/User"
      tags: 
        - "Users"
      responses:
        200:
          description: "Usuário atualizado com sucesso"
          schema:
            $ref: "#/definitions/User"
        404:
          description: "Usuário não encontrado. Lembre-se de informar o id."
        default:
          description: "Erro inesperado"
          schema:
            $ref: "#/definitions/Error"
    patch:
      summary: "Atualiza um usuário"
      description: |
        "Este endpoint atualiza um usuário no sistema. O id do usuário deve ser informado."
      parameters:
        - name: "user"
          in: "body"
          description: "Usuário"
          required: true
          schema:
            $ref: "#/definitions/User"
      tags: 
        - "Users"
      responses:
        200:
          description: "Usuário atualizado com sucesso"
          schema:
            $ref: "#/definitions/User"
        404:
          description: "Usuário não encontrado. Lembre-se de informar o id."
        default:
          description: "Erro inesperado"
          schema:
            $ref: "#/definitions/Error"
  
  /users/{id}:
    get:
      summary: "Mostra apenas um usuário"
      description: |
        "Este endpoint retorna **apenas o usuário a qual foi informado o id**."
      parameters:
        - name: "id"
          in: "path"
          description: "Id do usuário"
          required: true
          type: "integer"
      tags: 
        - "Users"
      responses:
        200:
          description: "Usuário encontrado"
          schema:
            $ref: "#/definitions/User"
        default:
          description: "Erro inesperado"
          schema:
            $ref: "#/definitions/Error"
    delete:
      summary: "Apagar um usuário"
      description: |
        "Este endpoint apaga o usuário a qual foi informado o **id**."
      parameters:
        - name: "id"
          in: "path"
          description: "Id do usuário"
          required: true
          type: "integer"
      tags: 
        - "Users"
      responses:
        200:
          description: "Usuário excluído com sucesso"
        404:
          description: "Usuário não encontrado. Lembre-se de informar o id."
        410:
          description: "Esse usuário não existe mais."
        default:
          description: "Erro inesperado"
          schema:
            $ref: "#/definitions/Error"

definitions:
  User:
    type: "object"
    required:
      - "email"
      - "nome"
    properties:
      id:
        type: "integer"
        description: "Código do usuário"
      email:
        type: "string"
        description: "Email do usuário"
      nome:
        type: "string"
        description: "Nome do usuário"
        
  Error:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      message:
        type: "string"
        